<mat-toolbar>
    <mat-icon svgIcon="Pokeball" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
    <span>Pokeweak</span>
    <span class="spacer"></span>
    <!-- <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>stacked_bar_chart</mat-icon>
    </button>
    <button mat-icon-button class="" aria-label="Example icon-button with share icon">
      <mat-icon svgIcon="PokeEgg" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
   </button> -->
   <input *ngIf="ActiveSearch" type="text" class="form-control" placeholder="Type to filter..." (keyup)="filter($event)">
   <button mat-icon-button class="favorite-icon" (click)="ActiveSearch = !ActiveSearch" aria-label="Example icon-button with heart icon">
    <mat-icon>search</mat-icon>
  </button>
  </mat-toolbar>